{% extends "base.html" %}

{% block content %}
<section>
  <header class="page-header">
    <h1>Paged Grid</h1>
  </header>
  <div class="row">
    <div class="span12">
      <div data-bind="simpleGrid: gridViewModel"></div>
      <button data-bind="click: addItem">Add item</button>
      <button data-bind="click: sortByName">Sort by name</button>
      <button data-bind="click: jumpToFirstPage, enable: gridViewModel.currentPageIndex">Jump to first page</button>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script src="/js/vendor/knockout.simpleGrid.1.3.js"></script>
<script>
$(function() {
  ko.applyBindings(new PagedGridModel([
    { name: "Well-Travelled Kitten", sales: 352, price: 75.95 },
    { name: "Speedy Coyote", sales: 89, price: 190.00 },
    { name: "Furious Lizard", sales: 152, price: 25.00 },
    { name: "Indifferent Monkey", sales: 1, price: 99.95 },
    { name: "Brooding Dragon", sales: 0, price: 6350 },
    { name: "Ingenious Tadpole", sales: 39450, price: 0.35 },
    { name: "Optimistic Snail", sales: 420, price: 1.50 }
  ]));
});
</script>
{% endblock %}
